db.driver=@db.driver@
db.protocol=@db.protocol@
db.host=@db.host@
db.port=@db.port@
db.database=@db.database@
db.user=@db.user@

mail.smtp.host=@mail.smtp.host@
mail.admin.address=@mail.admin.address@
mail.notification.messageTemplateFile=notification.template
mail.notification.initialDelay=10
mail.notification.period=30

metrics.initialDelay=10
metrics.period=30
metrics.query.limit=100

monitor.initialDelay=10
monitor.period=30
#monitor.esg.ini={user.home}.esgcet/esg.ini
monitor.buffer.meminfo=1058
monitor.buffer.cpuinfo=1250
monitor.buffer.uptime=23
monitor.buffer.loadavg=27
monitor.query.limit=100

registry.initialDelay=10
registry.period=600
conn.ping.initialDelay=5
conn.ping.period=30
conn.mgr.initialDelay=10
conn.mgr.period=30
