
ESG Data Node User:

This is a notification that there are updated versions of files you
may have in your possesion at the source data node.

The updated files for dataset @@dataset@@ are:

@@updated_files@@


Thank you,
Your Friends at
Earth Systems Grid
:-)

