
Hello ESGF Node User: @@esg_userid@@, 

This is a notification that there are updated versions of files you
may have in your possesion.

@@update_info@@


Thank you,
Your Friends at
Earth Systems Grid Federation
http://esgf.org/
:-)

